<html>
<head>
    <!-- Кодировка веб-страницы -->
    <meta charset="utf-8">
    <!-- Настройка viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Подключаем Bootstrap CSS и MD -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/css/mdb.min.css" rel="stylesheet">
    <link href="css/styles.css">
</head>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Подключаем шрифта-->
<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">

<header>
    <link rel="stylesheet" href="/static/css/navbar.css">
    <nav class="navbar navbar-expand-md navbar-custom fixed-top">
        <a href="/" class="navbar-brand py-1"><img src="/static/images/logo.jpg" style="width:60px;
    padding-right:10px" class="d-inline-block align-middle">
            </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCustom"
                aria-controls="navbarCustom" aria-expanded="false" aria-label="Навигационное меню">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarCustom">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/apps">Товары</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/registration">Регистрация</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/login">Авторизация</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/main">Профиль</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/about">О магазине</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a id="navbarloginname" class="nav-link" href="/">Выйти<i
                            class="fas fa-sign-in-alt d-inline-block align-middle"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<body style="background-image:url(static/images/bg.jpg)">
<div class="card shadow bg-white rounded mx-auto" style="max-width: 75%;">
    <!-- Заголовок формы -->
    <h5 class="card-header ripe-malinka-gradient bg-mine text-blue text-center py-4 hes">
        <strong>Товары</strong>
    </h5>
<!-- ОСНОВНОЙ КОНТЕНТ -->
<main role="main" class="container">

    <div class="row pt-3">


        <div class="col-md-6 mb-4">


            <div class="card">


                <div class="view">
                    <img src="/static/images/11.22.63.jpg" class="card-img-top mx-auto" alt="Тоник" style="width:200px">
                    <a href="#">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>


                <div class="card-body text-center">
                    <h5><p class="pt-1">«11/22/63»</h5>
                    </p>
                    <p class="card-text"> Научно-фантастический роман американского писателя Стивена Кинга.</p>

                    </p>

                    <a type="submit" class="btn btn-primary btn-md my-auto mx-auto" href="/order">
                        <i class="fas fa-power-off pr-2"></i>Купить
                    </a>
                </div>

            </div>

        </div>
        <div class="col-md-6 mb-4">


            <div class="card">


                <div class="view">
                    <img src="/static/images/end_of_land.jpg" class="card-img-top mx-auto" alt=""
                         style="width:200px">
                    <a href="#">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>


                <div class="card-body text-center">
                    <!--Title-->
                    <h5 class="card-title">«Конец Вечности»</h5>
                    <!--Text-->
                    <p class="card-text"> Роман американского писателя-фантаста Айзека Азимова.</p>
                    <a type="submit" class="btn btn-primary btn-md my-auto mx-auto" href="/order">
                        <i class="fas fa-power-off pr-2"></i>Купить
                    </a>
                </div>

            </div>


        </div>


    </div>

    <div class="row pt-3">


        <div class="col-md-6 mb-4">


            <div class="card">


                <div class="view">
                    <img src="/static/images/academy_and_land.jpg" class="card-img-top mx-auto" alt=""
                         style="width:200px">
                    <a href="#">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>


                <div class="card-body text-center">
                    <!--Title-->
                    <h4 class="card-title">«Академия и Земля»</h4>
                    <!--Text-->
                    <p class="card-text"> Научно-фантастический роман американского писателя Айзека
                        Азимова, изданный в 1986 году издательством Doubleday.</p>
                    <button type="button" class="btn btn-cyan" >Купить</button>
                </div>

            </div>


        </div>



        <div class="col-md-6 mb-4">


            <div class="card">


                <div class="view">
                    <img src="/static/images/dark.jpg" class="card-img-top mx-auto" alt="1C:Бухгалтерия"
                         style="width:200px">
                    <a href="#">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>


                <div class="card-body text-center">
                    <!--Title-->
                    <h4 class="card-title">Тёмный лес</h4>
                    <!--Text-->
                    <p class="card-text">Научно-фантастический роман китайского писателя Лю Цысиня.</p>
                    <button type="button" class="btn btn-cyan" >Купить</button>
                </div>
            </div>

        </div>

    </div>
</main>


<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/js/mdb.min.js"></script>
</body>
</html>