<html>
<head>

    <!-- Кодировка веб-страницы -->
    <meta charset="utf-8">
    <!-- Настройка viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>

    <title>Добро пожаловать</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/css/mdb.min.css" rel="stylesheet">
    <link href="/templates/css/login.css">
    <script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>
</head>

<body style="background-image:url(static/images/bg.jpg)">
<!-- ОСНОВНОЙ КОНТЕНТ -->
<main role="main" class="container">
    <div class="card shadow bg-white rounded mx-auto" style="max-width: 75%;">
        <!-- Заголовок формы -->
        <h5 class="card-header blue-gradient  bg-mine text-blue text-center py-4 hes">
            <strong>Настройка профиля</strong>
        </h5>

        <div class="row pt-3">


            <div class="col-md-6 mb-4">


                <div class="card">
                    <form method="post" enctype="multipart/form-data">

                        <div class="card-body text-center">

                            <input class="card-body text-center" type="file" name="file">
                        </div>


                        <div class="card-body text-center">
                            <button type="submit" action="/main" class="btn btn-primary btn-md my-auto mx-auto">Добавить
                                фото
                            </button>
                        </div>
                    </form>
                </div>


            </div>
            <div class="col-md-6 mb-4">

                <div class="card">
                    <form enctype="multipart/form-data" method="post" action="delete">

                        <div class="card-body text-center">

                            <input type="text" name="filename">

                        </div>


                        <div class="card-body text-center">
                            <button type="submit" class="btn btn-primary btn-md my-auto mx-auto">Удалить фото</button>
                        </div>
                    </form>
                    <a href="/lll" > Сделать фото</a>
                </div>

            </div>

        </div>
    </div>
</main>


</body>

</html>